---
import Layout from '../../layouts/Layout.astro'
import PageContainer from '../../components/PageContainer.astro'
import PageHeading from '../../components/PageHeading.astro'

export function getStaticPaths() {
  return [{ params: { segment: 1 } }, { params: { segment: 2 } }, { params: { segment: 3 } }]
}

const { segment } = Astro.params
---

<Layout title={`Workshop feedback: Segment ${segment}`}>
  <PageContainer>
    <PageHeading>Workshop Feedback</PageHeading>
    <p class="mt-4 max-w-prose text-lg font-medium text-slate-600 md:mt-6">
      I'd really appreciate if you could take a couple of minutes to fill this feedback survey. It
      really helps me improve the workshop materials!
    </p>

    <div class="mt-8">
      <a
        class="inline-block rounded-md bg-pink-600 px-5 py-3 font-semibold text-white hover:bg-pink-500 active:bg-pink-600"
        href={`https://docs.google.com/forms/d/e/1FAIpQLScZFL_W7h413tiNpp_Xyn4hEfMTNGpwFvFdXnqLOEbiU7s4Uw/viewform?usp=pp_url&entry.1747016377=Multi-theme+Strategy+–+Segment+${segment}`}
      >
        Segment {segment} Feedback &rarr;
      </a>
    </div>
  </PageContainer>
</Layout>
