---
export interface Props {
  title: string
  url: string
  image?: string
}

const { title, url, image } = Astro.props as Props
---

<a class="block shadow-md hover:shadow-lg rounded-lg bg-white transition" href={url}>
  <h2 class="border-t border-slate-200 p-8 text-center text-lg font-semibold text-slate-900">
    {title}
  </h2>
</a>
