---
import Layout from '../../layouts/Layout.astro'
import PageContainer from '../../components/PageContainer.astro'
import PageHeading from '../../components/PageHeading.astro'
import ChallengeCard from '../../components/ChallengeCard.astro'

const lessons = await Astro.glob('../challenges/**/*.{md,mdx}')
---

<Layout title="Challenges">
  <PageContainer>
    <PageHeading>Multiple color theme support, step by step.</PageHeading>
    <p class="mt-4 max-w-prose text-lg font-medium text-slate-600 md:mt-6">
      Throughout this workshop, we'll add support for multiple color themes that can be added to any
      project using Tailwind CSS.
    </p>
    <p class="mt-4 max-w-prose text-lg font-medium text-slate-600 md:mt-6">
      We'll take it step by step, starting with a CSS file and ending with a pretty cool Tailwind
      CSS plugin that dynamically generates themable color utilities based on a color themes input.
    </p>

    <ul class="mx-auto mt-16 grid max-w-lg gap-12 md:max-w-none md:grid-cols-2 xl:grid-cols-3">
      {
        lessons.map((lesson) => (
          <li>
            <ChallengeCard
              title={lesson.frontmatter.title}
              image={lesson.frontmatter.image}
              url={lesson.url}
            />
          </li>
        ))
      }
    </ul>
  </PageContainer>
</Layout>
